html {
    font-size: 62.5%;
}

body {
    font: 1.5rem/1.5 Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    background-color: #f4f4f4;
}

/*GLOBAL*/
.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

ul {
    margin: 0;
    padding: 0;
}

.button_1 {
    height: 36px;
    background: #e8491d;
    border: 0;
    padding-left: 20px;
    padding-right: 20px;
    color: #f4f4f4;
}

.dark {
    padding: 15px;
    background-color: #35424a;
    color: #ffffff;
    margin-top: 10px;
}

/*HEADER*/
header {
    background: #35424a;
    color: #ffffff;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #da4105 3px solid;
}

header a {
    color: #f4f4f4;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.6rem;
}

header li {
    float: left;
    display: inline;
    padding: 0 20px 0 20px;
}

header #branding {
    float: left;
}

header #branding h1 {
    margin: 0;
}

header nav {
    float: right;
    margin-top: 10px;
}

header .hightlight, header .current a {
    color:#e8491d;
    font-weight: bold;
}

header a:hover {
    color: #cccccc;
    font-weight: bold;
}

/*SHOWCASE*/
#showcase {
    min-height: 400px;
    background: url(../image/WhatsApp\ Image\ 2024-05-11\ at\ 16.37.14_c5570b95\ \(3\).jpg) no-repeat 0 -400px;
    text-align: center;
}

#showcase h1{
    margin-top: 100px;
    font-size: 5.5rem;
    margin-bottom: 10px;
}

#showcase p {
    font-size: 2rem;
}

/*NEWSLETTER*/
#newsletter {
    padding: 15px;
    color: #ffffff;
    background: #35424a;
}

#newsletter h1 {
    float: left;
}

#newsletter form {
    float: right;
    margin-top: 15px;
}

#newsletter input[type="email"] {
    padding: 4px;
    height: 25px;
    width: 250px;
}

/*BOXES*/
#boxes {
    margin-top: 20px;
}

#boxes .box{
    float: left;
    width: 30%;
    padding: 10px;
    text-align: center;
}

#boxes .box img{
    width: 90px;
}

/*SIDEBAR*/
aside#sidebar {
    float: right;
    width: 30%;
    margin-top: 10px;
}

aside#sidebar .quote input, aside#sidebar .quote textarea {
    width: 90%;
    padding: 5px;
}

/*ARTICLE*/
article#main-col {
    float: left;
    width: 65%;
}

/**/


/*SERVICES*/
ul#services li {
    list-style: none;
    padding: 20px;
    border: #35424a solid 2px;
    margin-top: 5px;
    background: #e6e6e6;
}

footer {
    padding: 20px;
    margin-top: 20px;
    color: #f4f4f4;
    background-color: #e8491d;
    text-align: center;
}

/*tablets mobile*/
@media only screen and (max-width: 760px) {
    header #branding, header nav, header nav li,
    #newsletter h1 ,#newsletter form, #boxes .box,
    article#main-col, aside#sidebar  {
        float: none;
        text-align: center;
        width: 100%;
    }

    #newsletter button, .quote button {
        display: block;
        width: 100%;
    }

    #newsletter form input[type="email"], .quote input .quote textarea {
        margin-bottom: 5px;
        width: 100%;
    }

    header {
        padding-bottom: 20px;
    }

    #showcase h1{
        margin-top: 40px;
    }
}